
<!-- footer2 -->
<footer>
  <div class="contenedor_superior">

    <div class="img_descripcion">
      <div class="imagen">
        <img class="img_logo" src="/img/SUBASTA SUR BLANCO.png" alt="">
      </div>

      <div class="descripcion_f">
        <p class="descricion_footer">Somos una Plataforma de Subastas de autos conservados para emprendedores e inversionistas, Subastamos todas las marcas de vehiculos.</p>
      </div>
    </div>

    <div class="categoria2">

      <h3 class="subtitle">categorias</h3>
      <a href="/?categoria=camioneta">Camionetas</a>

      <a href="/?categoria=auto">Autos</a>

      <a href="/?categoria=moto">Motos</a>

      <a href="/?categoria=camioneta">Camiones</a>

    </div>

    <div class="ayuda">
      <h3 class="subtitle">ayuda</h3>
      <a target="_blank" href="https://api.whatsapp.com/send?phone=941486654&text=<%= encodeURIComponent(`Bienvenido a subastasur,en que podemos atenderte`) %>">WhatsApp</a>
      <a target="_blank" href="#">soporte@subastasur.sbs</a>
      <a target="_blank" href="/info-vender">¿Cómo vender?</a>

    </div>

    <div class="terminos_condiciones">

      <div class="terminos_f">
        <h3 class="subtitle">Terminos y condiciones</h3>
        <a target="_blank" href="/condicionesYterminos">Condiciones y Términos</a>

        <a target="_blank" href="/politicasDEprivacidad">Políticas de Privacidad</a>

        <a target="_blank" href="/politicasDEcookies">Política de Cookies</a>

      </div>

      <div class="redes_sociales">
        <h3 class="subtitle">Síguenos</h3>
        <div class="d-flex ">
          <a target="_blank" href="https://www.facebook.com/subastasur"><img class="img_redes" src="/img/face_footer (1).png" alt="Facebook"></a>

          <a target="_blank" https://api.whatsapp.com/send?phone=51992386251&text=Hola%2C%20quiero%20subastar%20mi%20vehiculo%20en%20la%20plataforma%20SubastaSur.%20Estoy%20interesado%20en%20conocer%20el%20proceso%2C%20los%20requisitos%20y%20los%20beneficios%20que%20ofrecen.%20%C2%BFPodr%C3%ADan%20ayudarme%20con%20m%C3%A1s%20informaci%C3%B3n%3F"><img
              class="img_redes" src="/img/whatsapp_footer (1).png" alt="WhatsApp"></a>

          <a target="_blank" href="https://www.tiktok.com/@subasta_sur"><img class="img_redes" src="/img/tiktok_footer.png" alt="TikTok"></a>

          <a target="_blank" href="https://www.youtube.com/@subastasur"><img class="img_redes" src="/img/youtube_footer.png" alt="YouTube"></a>
        </div>

      </div>

    </div>
  </div>

  <div class="copy_paises">
    <div class="paises">
      <img src="/img/icon_peru.png" alt="">
      <img src="/img/icon_argentina.png" alt="">
      <img src="/img/icon_colombia.png" alt="">
      <img src="/img/icon_brasil.png" alt="">
      <img src="/img/icon_chile.png" alt="">
    </div>
    <p class="descricion_footer">Copyright @ subastasur.com 2020</p>
  </div>

  </div>
  </div>
</footer>
