<div class="whatsapp_flotante">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=51941486654&text=Estimado%20equipo%20de%20SubastaSur%20Oficial,%20Requiero%20asistencia%20con%20el%20soporte%20t%C3%A9cnico%20de%20la%20p%C3%A1gina.%20Por%20favor,%20pueden%20ayudarme%20con%20mi%20consulta%3F">
        <i class="fa-brands fa-square-whatsapp fa-beat fa-2xl" style="color: #25d366; font-size: 3.5rem;"></i>
    </a>
</div>
